body {
	background-color: black;
}

.buttoncontainer {
	width: 35rem;
	display: flex;
	margin: 0 auto;
	/*border: 2px solid white;*/
}

.b {
	display:block;
	height: 4rem;
	margin: 0 auto;
}

.imgcontainer {
	margin: auto;
	width: 35rem;
	/*border: 2px solid white;*/
}

.archivelink {
    display:inline;
    width: 15%;
    margin: 0 auto;
}

.archivecontainer {
    width:80%;
    display:flex;
    margin-top: 5rem;
    margin: 0 auto;
}
